html {
    scroll-behavior: smooth;
  }
/* navigation css */
*
{
    margin: 0;
    padding: 0;
}
.navigation-menu
{
    background-color: black;
    color: white;   
    position: relative;
    top: 0;
    left: 0;
    position: fixed;
    border-right: 2px solid green;
}
.logo-img
{
    border: 5px solid rgb(119, 24, 24);
    border-radius: 1000px;
    margin: 20px;
}
.logo-img img
{
    height: 100%;
    width: 100%;
    border-radius: 1000px;
}
.heading
{
    /* border: 2px solid blue; */
}
.heading h3
{
    font-size: 20px;
}
.heading p
{
    font-size: 18px;
}

ul
{
    list-style: none; 
}
ul li
{
    /* padding: 10px; */
}
ul li a
{
    text-decoration: none;
    color: white;
    font-size: 15px;
    /* padding: 3px; */
    display: block;
}
ul li a:hover
{
    background-color: azure;
    color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-decoration: none;
}
i
{
    /* margin-right: 5px; */
    background-color: rgb(14, 153, 14);
    padding: 7px;
    border-radius: 25px;
    font-size: 15px;
    color: black;
    /* margin-left: 5px; */
}
.section-bar
{
    /* background-color: green; */
    position: absolute;
    right: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Img/Bg-img3.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}
.section-content
{
    color: white;
    /* position: relative; */
    /* top: 10em; */
    text-align: center;
    /* border: 10px solid yellow; */
    /* margin-bottom: 50px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-content h1
{
    color: white;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}
span
{
    color: #da6a6a;
}
.section-content p
{
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.contact-btn
{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(14, 153, 14);
    border-radius: 25px;
    font-weight: bold;
    
}
.contact-btn:hover
{
    background-color: rgb(15, 117, 15);
}

@media only all and (max-width:767px) 
{ 
    .navigation-menu
    {
        display:none;
    }
}
.menu
{
    display: flex;
    flex-direction: column;
    align-items: end;
    /* margin: 3px; */
    padding: 3px;
    /* margin-right: 10px; */
    padding: 10px;
    padding-right: 25px;
    background-color: green;
    position: fixed;
    width: 100%;
    z-index: 500;
    /* opacity: 0.6; */
}
.menu:hover
{
    cursor: pointer;
}
.menu-sign
{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 4px 0;
}
#AboutMe
{
    /* border: 2px solid yellowgreen; */
    /* height: 682px; */
    color: white;
    background-color: #131313;
}
.AboutMe > .row
{
    margin-right: 0;
    margin-left: 0;
}
.about-me-heading
{
    display: flex;
    justify-content: center;
    border-bottom: 5px solid green;
    border-top: 5px solid green;
    font-size: 40px;
    padding: 5px; 
}
.personal-info-div h2
{
    color: white;
    padding-left: 50px;
    padding-top: 20px;
}
.personal-img-div 
{ 
    /* height: 100%; */
    /* width: 100%;   */
}
.personal-img-div img
{
    height: 100%;
    width: 100%;
}
.evenspan
{
    color: green;
    font-weight: bold;
}
.cont1
{
    border: 4px solid rgb(89, 110, 89);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.cont1 p
{
    margin-bottom: 0px;
}

.cont1:hover
{
    background-color: rgb(89, 110, 89);
}
.cont2
{
    border: 4px solid rgb(67, 14, 153);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 10px;
    padding: 10px;
    
}
.cont2 p
{
    margin-bottom: 0px;
}
.cont2:hover
{
    background-color: rgb(67, 14, 153);
}
.cont3
{
    border: 4px solid rgb(177, 78, 78);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.cont3 p
{
    margin-bottom: 0px;
}
.cont3:hover
{
    background-color: rgb(177, 78, 78);
}


#education
{
    /* border: 2px solid yellowgreen; */
    /* height: 900px; */
    color: white;
    background-color: #131313;
    /* padding-top: 70px; */
}
.education-heading
{
    display: flex;
    justify-content: center;
    border-bottom: 5px solid green;
    border-top: 5px solid green;
    font-size: 40px;
    padding: 5px; 
}
.education > .row
{
    margin-right: 0;
    margin-left: 0;
}
.right-box-para
{
    /* background-color: #da6a6a; */
    margin-left: 13px;
    /* border-radius: 20px; */
}
.right-box-para:hover
{
    background-color: rgb(16, 105, 16);
    border-radius: 10px;
}
.school-hover-effect:hover
{
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    /* font-weight: bold; */
}
.college-hover-effect:hover
{
    color: black;
    background-color: rgb(176, 25, 25);
    border: 1px solid white;
}
.uni-hover-effect:hover
{
    color: black;
    background-color: rgb(27, 10, 125);
    border: 1px solid white;
}
.education-full-row
{
    /* border-bottom: 5px solid green; */
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
.school-img img
{
    height: 100%;
    width: 100%;
}
.school-img
{
    padding-left: 0;
    padding-right: 0;
}
.left-box-content h3
{
    color: white;
    padding: 12px;
    font-size: 20px;
}
#head1
{
    color: white;
    padding: 12px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.left-box-content h4
{
    color: white;
    padding: 12px;
    font-size: 17px;
}


/* skills section starts*/
.skills
{
    color: white;
    background-color: #131313;
    /* height: 1000px; */
}
.skills > .row
{
    margin-right: 0;
    margin-left: 0;
}
.skills-heading
{
    display: flex;
    justify-content: center;
    border-bottom: 5px solid green;
    border-top: 5px solid green;
    font-size: 40px;
    padding: 5px; 
    margin-top: -48px;
}
.horizontal-progress-bar-body
{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.horizontal-progress-bar
{
    margin-top: 15px;
}



.straight-progress-bar h5
{
    
    display: inline-block;
    
}
.straight-progress-bar h4
{
    display: inline;
    float: right;
}
.f_e_bar
{
    background-color:  rgb(79, 68, 68);
    border-radius: 10px;
    margin-bottom: 20px;
}
.f_i_bar
{
    background-color:  rgb(84 224 46);
    border-radius: 10px;
}

.rounded-progress-bar-body
{
    display: flex;
    justify-content: center;
}




/* rounded progress bar css */
.bar-group{
    width: 1em;
    height: 1em;
    position: relative;
    float: left;
    margin: 20px;
    font-size: 10em;
}
.label{
    display: block;
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    bottom: 0.4em;
    right: 0.4em;
    background: #000000;
    border-radius: 50%;
    color: #ecf0f1;
    font-size: 0.25em;
    line-height: 2.8em;
    text-align: center;
}
.smaller{
    color: #bdc3c7;
    font-size: 0.45em;
    padding-bottom: 20px;
    vertical-align: super;
}
.bar{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0, 1em, 1em, 0.5em);
}
.circle{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 0.1em solid #3498db;
    border-radius: 50%;
    clip: rect(0, 0.5em, 1em, 0);
}
.shadow{
    height: 100%;
    width: 100%;
    border: 0.1em solid #bdc3c7;
    border-radius: 50%;
}

.value-30 .bar{
    clip: rect(auto, auto, auto, auto);
} 
.value-30 .circle{
    border-color: rgb(224, 21, 21);
}
.value-30 .left-side{
    transform: rotate(270deg);
}
.value-30 .right-side{
    transform: rotate(180deg);
}

.value-60 .bar{
    clip: rect(auto, auto, auto, auto);
} 
.value-60 .circle{
    border-color: #00a8ff;
}
.value-60 .left-side{
    transform: rotate(335deg);
}
.value-60 .right-side{
    transform: rotate(180deg);
}

.value-90 .bar{
    clip: rect(auto, auto, auto, auto);
}
.value-90 .circle{
    border-color: #ff9f1c;
}
.value-90 .left-side{
    transform: rotate(354deg);
}
.value-90 .right-side{
    transform: rotate(180deg);
} 


.value-120 .bar{
    clip: rect(auto, auto, auto, auto);
}
.value-120 .circle{
    border-color: #0ce241;
}
.value-120 .left-side{
    transform: rotate(298deg);
}
.value-120 .right-side{
    transform: rotate(180deg);
}

.value-150 .bar{
    clip: rect(auto, auto, auto, auto);
}
.value-150 .circle{
    border-color: #b627cc;
}
.value-150 .left-side{
    transform: rotate(320deg);
}
.value-150 .right-side{
    transform: rotate(180deg);

}
.value-180 .bar{
    clip: rect(auto, auto, auto, auto);
}
.value-180 .circle{
    border-color: #00fffc85;
}
.value-180 .left-side{
    transform: rotate(310deg);
}
.value-180 .right-side{
    transform: rotate(180deg);
}






/* skills section ends */